.kindly-notification {
    z-index: 99999;
    font-family: system-ui;
    padding: 6px;
    background: #bf5d00;
    display: inline-block;
    color: white;
    border-radius: 4px;
    margin-top: 7px;
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}